.body {
  font-family: $body-font-family;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;

  &.body--light {
    color: $text-color-primary;
  }

  &.body--dark {
      color: $text-color-secondary
      ;
  }

  &.body--margin-lg {
    margin-bottom: 5rem;
  }

  &.body--white {
    color: #fff;
  }
}
