.main-heading {
  color: $text-color-primary;
  font-size: 2.25rem;
  font-family: $heading-font-family;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  @include large-screen {
    text-align: left;
  }

  &--dark {
    color: $text-color-secondary;
  }

  &.main-heading--caps {
    text-transform: uppercase;
    margin-bottom: 0.875rem;
  }

  &.main-heading--lg {
    font-size: 2.5rem;
    margin-bottom: 0.875rem;

    @include large-screen {
      font-size: 3.75rem;
    }
  }
}
