.panel {
  padding: $panel-padding 0;

  &.panel--hero {
    background-image: url("/img/web-banner@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.panel--dark {
    background-color: $footer-color;
  }

  &.panel--gradient {
    @include gradient-background;
  }
}
